.cart-widget {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .cart-icon {
    font-size: 22px;
    color: #fff; 

  }
  
  .cart-badge {
    position: absolute;
    top: -38px;
    right: -6px;
    font-size: 11px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
  }
  